[submodule "rapid-cli"]
	path = rapid-cli
	url = https://github.com/jmeyers91/rapid-cli
[submodule "rapid-core"]
	path = rapid-core
	url = https://github.com/jmeyers91/rapid
[submodule "rapid-template"]
	path = rapid-template
	url = https://github.com/jmeyers91/rapid-template
[submodule "rapid-plop"]
	path = rapid-plop
	url = https://github.com/jmeyers91/rapid-plop
